<mat-card class="grid">
  <div class="header">
    <span class="title">CUSTOMER</span>
  </div>
  <mat-table [dataSource]="tableDatSource">
    <ng-container matColumnDef="Album Id">
      <mat-header-cell *matHeaderCellDef>
        Album Id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.albumId}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Id">
      <mat-header-cell *matHeaderCellDef>
        Id
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.id}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Thumbnail Url">
      <mat-header-cell *matHeaderCellDef>
        Thumbnail Url
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.thumbnailUrl}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Title">
      <mat-header-cell *matHeaderCellDef>
        Title
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.title}}
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="Url">

      <mat-header-cell *matHeaderCellDef>
        URL
      </mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{element.url}}
        <button mat-icon-button role="button" tabindex="0" class="close-button" (click)="clearRow(element)">
          <mat-icon>close</mat-icon>
        </button>
      </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;">
    </mat-row>
  </mat-table>
  <div *ngIf="noGridData" class="no-cohort-data" aria-required="true" attr.aria-label="No Data Available"> No Data
    Available
  </div>
  <mat-paginator [pageSizeOptions]="[5,10,50,100]" showFirstLastButtons (page)="onPageChange($event)">
  </mat-paginator>
</mat-card>